@font-face {
        font-family: 빙그레;
        src: url('font/Binggrae.otf') format('truetype');
      }
@font-face {
        font-family: 빙그레B;
        src: url('font/Binggrae-Bold.otf') format('truetype');
      }
@font-face {
        font-family: 메로나;
        src: url('font/BinggraeMelona.otf') format('truetype');
      }
@font-face {
        font-family: 메로나B;
        src: url('font/BinggraeMelona-Bold.otf') format('truetype');
      }
@font-face {
        font-family: 싸만코;
        src: url('font/BinggraeSamanco.otf') format('truetype');
      }
@font-face {
        font-family: 싸만코B;
        src: url('font/BinggraeSamanco-Bold.otf') format('truetype');
      }

body {
   margin: 0px;
   display: flex;
   justify-content: center;
   position: relative;
}
div#wrap {
        width: 400px;
        position: relative;
}
nav {
   width: 400px;
   height: 100px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: fixed;
   top: 0;
   z-index: 100;
   background-color: white;
   font-family: 메로나B;
}
div#story {
        background-image: url(img/icon/Artboard\ 1-100.jpg);
        background-size: auto 55%;
        background-repeat: no-repeat;
        background-position: center;
}
div#hac {
 background-image: url(img/icon/Artboard\ 2-100.jpg);
 background-size: auto 60%;
 background-repeat: no-repeat;
 background-position: center;         
}
div#mainpart {
                padding-top: 10px;
                border-top: 1px solid black;
                position: relative;
                top: 100px;
                margin-bottom: 100px;
}

div.center {
        height: 100px;
        width: 100px;
        margin: 0px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 22px;
}
a {
   text-decoration: none;
}
div#logo {
        background-image: url(img/logo.jpg);
        background-size: 100px 100px;
}
div.tap {
        height: 100px;
        width: 145px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: black;
        font-size: 22px;
}
div#copyright {
                position: relative;
                width: 400px;
                height: 90px;
                padding-bottom: 10px;
                display:flex;
                justify-content: right;
                align-items: end;
                font-size: 15px;
                text-decoration: overline;
}
div.align {
        display: flex;
        align-items: center;
        justify-content: center;
}